<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        Salom, mening ismim {{user.first_name}}
        <br>
        {{course}} da organaman


        <hr>
        {{son1}} {{amal}} {{son2}} = {{natija}}
        <br>
        <form method="get">
            <select name="amal">
                <option value="+">qoshish</option>
                <option value="-">ayrish</option>
                <option value="/">bolsih</option>
                <option value="*">kopaytirish</option>

            </select>
            <br>
            <input type="number" placeholder="ihtiyoriy son kiriting" name="son1">
            <br>
            <input type="number" placeholder="ihtiyoriy son kiriting" name="son2">
            <br>
            <button type="submit">natija olish</button>
        </form>
    </h1>
</body>
</html>